:root {
    --field: #334257;
    --borders: #476072;  
    --player: #548CA8;
    --background: #EEEEEE;
    --winnerColor: #F7FD04;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container{
    background-color: var(--borders);
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    padding: 5px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.field {
    background-color: var(--field);
    margin: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.axis {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

    background-color: var(--player);
    border: 1px solid var(--field);
    width: 80%;
    height: 80%;
    opacity: 0;
    transform: scale(.7);
    transition: transform 1.2s, opacity 1.2s;
}

.field:hover>.circle, .field:hover>.axis {
    cursor: pointer;
    transform: scale(1);
    opacity: 1;
}

.circle {
    border-radius: 50%;

    border: 30px solid var(--player);
    opacity: 0;
    width: 45%;
    height: 45%;
    transform: scale(.7);
    transition: transform 1.2s, opacity 2s;
    
}

.field>.active {
    opacity: 1;
    transform: scale(1);
    cursor: default;
    pointer-events: none;
    filter:brightness(1.15);
}

button.restartButton {
    margin-top: 10px;
    width: 90px;
    height: 40px;
    background-color: var(--field);
    border: 4px solid var(--borders);
    color: var(--background);
    border-radius: 3px;

    transition: transform 0.5s, opacity 2s;
}

button.restartButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

button.restartButton:active{
    transition: transform 0s;
    transform: scale(1);   
}